.body {
    display: flex;
    flex-direction: column;

}

.filter {
    padding-left: .92rem;
    margin: 1rem 0;
    display: flex;
    gap: 1rem;
}

.search {
    display: flex;
    gap: .5rem;
}

.res-container {
    margin: auto;
}

.search-input {
    padding: 1rem 2rem;
    outline: none;
    border-radius: 5px;
    border: 2px solid black;
}

@media (min-width:1280px) {
    .body {
        max-width: 1200px;
        margin: auto;
    }
}